<header class="main-header">
  <div class="top-nav">
    <div class="logo-section">
      <a routerLink="/" class="logo">
        <img src="https://www.image2url.com/r2/default/images/1783439341658-a4ad533f-a857-40c0-8368-136beb41c825.png" alt="logo">
      </a>
    </div>

    <div class="search-section">
      <div class="search-container">
        <app-search [searchValue]="search" (searchChanged)="onSearch($event)"></app-search>
      </div>
    </div>

    <div class="nav-links">
      @if (!authService.isLoggedIn()) {
        <a routerLink="/login" class="nav-item">Login</a>
      } @else {
        <a routerLink="/cart" class="nav-item">
          <span class="nav-text">Cart</span>
          <span class="badge">{{cartCount()}}</span>
        </a>
        <a routerLink="/profile" class="nav-item">
          <span class="nav-text">Profile</span>
        </a>
        <a (click)="logout()" class="nav-item logout-btn">
          <span class="nav-text">Logout</span>
        </a>
      }
    </div>
  </div>

  <nav class="category-nav">
    <div class="category-list" #categoryContainer (scroll)="updateButtonVisibility()">
      @if (showLeftButton()) {
        <button class="nav-btn left" (click)="scrollTabs('left')">
          &#10094;
        </button>
      }

      @for(category of categories; track category.slug){
        <a class="category-item" [routerLink]="['products']"
          [queryParams]="{categories: category.slug}">{{category.name}}</a>
      }
      
      @if (showRightButton()) {
        <button class="nav-btn right" (click)="scrollTabs('right')">
          &#10095;
        </button>
      }
    </div>
  </nav>
</header>