<header class="main-header">
  <div class="top-nav">
    <div class="logo-section">
      <a routerLink="/" class="logo">Logo</a>
    </div>

    <div class="search-section">
      <div class="search-container">
        <app-search [searchValue]="search" (searchChanged)="onSearch($event)"></app-search>
      </div>
    </div>

    <div class="nav-links">
      @if (!authService.isLoggedIn()) {

      <a routerLink="/login" class="nav-item">Login</a>
      } @else {
      <a routerLink="/cart" class="nav-item">
        <span>Cart</span>
        <span class="badge">{{cartCount()}}</span>
      </a>
      <a routerLink="/profile" class="nav-item">Profile</a>

      <a (click)="logout()" class="nav-item logout-btn">Logout</a>
      }
    </div>
  </div>

  <nav class="category-nav">
    <ul class="category-list">
      @for(category of categories; track category.slug){
      <li class="category-item">
        <a [routerLink]="['products']" [queryParams]="{category: category.slug}">{{category.name}}</a>
      </li>
      }
    </ul>
  </nav>
</header>