@if(showFooter){
<footer class="site-footer">
  <div class="footer-container">

    <div class="footer-col brand-col">
      <a routerLink="/" class="logo">
        <h1 class="logo-as-text">Eshop Clues</h1>
      </a>
      <h3>CONNECT WITH US</h3>
      <div class="social-icons">
        <a href="#" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
        <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
        <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
        <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
      </div>
      <p class="copyright">&copy; Copyright {{currentYear | date:'MMM yyyy'}} Eshop. All rights reserved</p>

      <div class="badge-base LI-profile-badge badge-style-custom" data-locale="en_US" data-size="medium"
        data-theme="dark" data-type="VERTICAL" data-vanity="saif-ali-8019a811b" data-version="v1"><a
          class="badge-base__link LI-simple-link "
          href="https://ae.linkedin.com/in/saif-ali-8019a811b?trk=profile-badge">Meet the Developer </a></div>
    </div>

    <div class="footer-col links-col divider-left">
      <h3>USEFUL LINKS</h3>
      <div class="links-grid">
        <div class="links-sub-col">
          <a href="#">About Croma</a>
          <a href="#">Help And Support</a>
          <a href="#">FAQs</a>
          <a href="#">Buying Guide</a>
          <a href="#">Return Policy</a>
          <a href="#">B2B Orders</a>
          <a href="#">Store Locator</a>
          <a href="#">E-Waste</a>
          <a href="#">Franchise Opportunity</a>
        </div>
        <div class="links-sub-col">
          <a href="#">Site Map</a>
          <a href="#">Careers At Croma</a>
          <a href="#">Terms Of Use</a>
          <a href="#">Disclaimer</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Unboxed</a>
          <a href="#">Gift Card</a>
          <a href="#">Croma E-Star</a>
        </div>
      </div>
    </div>

    <div class="footer-col links-col divider-left">
      <h3>PRODUCTS</h3>
      <div class="links-grid">
        <div class="links-sub-col">
          <a href="#">Televisions & Accessories</a>
          <a href="#">Home Appliances</a>
          <a href="#">Phones & Wearables</a>
          <a href="#">Computers & Tablets</a>
          <a href="#">Kitchen Appliances</a>
          <a href="#">Audio & Video</a>
          <a href="#">Health & Fitness</a>
        </div>
        <div class="links-sub-col">
          <a href="#">Grooming & Personal Care</a>
          <a href="#">Cameras & Accessories</a>
          <a href="#">Smart Devices</a>
          <a href="#">Gaming</a>
          <a href="#">Accessories</a>
          <a href="#">Top Brands</a>
        </div>
      </div>
    </div>
  </div>
</footer>
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">