<div class="total-quotation-panel glass-effect-bg">
  <h2>Order Summary</h2>

  <div class="quotation-rows-group">
    <div class="quote-row">
      <span>Total Quantity</span>
      <span class="val">{{cartCount()}} items</span>
    </div>

    <div class="quote-row">
      <span>Total Price</span>
      <span class="val">{{cartTotal() | number: '1.2-2'}}</span>
    </div>

    <div class="quote-row">
      <span>Total Discount</span>
      <span class="val discount-text">-45</span>
    </div>

    <div class="quote-row">
      <span>Total Tax</span>
      <span class="val">3,545</span>
    </div>
  </div>

  <div class="quote-divider"></div>

  <div class="quote-row final-total-row">
    <span>Estimated Total</span>
    <span class="price">{{cartTotal() | number: '1.2-2'}}</span>
  </div>
</div>