  <div class="total-quotation-panel">
    <h2>Your Total Summary</h2>

    <div>
      <span>Total Quantity</span>
      <span>{{cartCount()}}</span>
    </div>

    <div>
      <span>Total Price</span>
      <span>{{cartTotal()}}</span>
    </div>

    <div>
      <span>Total Discount</span>
      <span class="discount-text">-45</span>
    </div>

    <div>
      <span>Total Tax</span>
      <span>3545</span>
    </div>

    <hr>

    <div>
      <span>Estimated Total</span>
      <span>{{cartTotal()}}</span>
    </div>
  </div>