<div class="view-port-limit">
    <section>
        <swiper-container progress-bar="true" slides-per-view="1" pagination="true" [loop]="true" grab-cursor="true"
            speed="600" [navigation]="true" [pagination]="{ clickable: true }" [breakpoints]="{
      '640': { 'slidesPerView': 1, 'spaceBetween': 0 },
      '1024': { 'slidesPerView': 1, 'spaceBetween': 0 }
    }">
            @for (banner of homeBanners; track $index) {
            @for (desktopItem of banner.desktopImgUrl; track $index; let i = $index) {
            <swiper-slide>
                <div class="slide-content">
                    <picture class="banner-picture">
                        <source media="(max-width: 768px)" [srcset]="banner.mobileImgUrl[i]?.img">

                        <img [src]="desktopItem.img" class="banner-img" alt="Banner slide">
                    </picture>
                </div>
            </swiper-slide>
            }
            }
        </swiper-container>
    </section>

    <section>
        <app-category-card></app-category-card>
    </section>

    <section>
        <h1 class="section-heading">Trending Products</h1>
        <div class="products-card-container">
            @for(product of trendingProducts; track product.id){
            <app-product-card [product]="product"></app-product-card>
            }
        </div>
    </section>

    <section>
        <h1 class="section-heading">Deals Of The Day</h1>
        <swiper-container space-between="20" loop="true" grab-cursor="true" speed="600" [navigation]="true"
            [pagination]="{ clickable: true }" [breakpoints]="{
      '640': { 'slidesPerView': 1, 'spaceBetween': 0 },
      '1024': { 'slidesPerView': 4, 'spaceBetween': 30 }
    }">
            @for (slide of quickCards; track $index) {
            <swiper-slide>
                <div class="slide-content">
                    <img [src]="slide.img" style="border-radius: 20px;">
                </div>
            </swiper-slide>
            }
        </swiper-container>
    </section>

    <section>
        <h1 class="section-heading">Best Sellers</h1>
        <div class="products-card-container">
            @for(product of bestSeller; track product.id){
            <app-product-card [product]="product"></app-product-card>
            }
        </div>
    </section>
</div>