@use 'assets/color-variables.scss' as *;

input {
  font-size: 14px;
  color: $green;
  width: calc(100% - 20px);
  background-color: unset;
  height: 26px;
  padding: 8px 10px;
  border: 1px solid $green;
  border-radius: 4px;
}

@media (max-width: 480px) {
  input {
    font-size: 13px;
    height: 20px;
  }
}
