@use 'ngx-toastr/toastr';

$theme-color: #aab2ff;
$dark-theme-color: #262e2e;
$white-color: #ffffff;
$error-color: #ff8b8b;

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  letter-spacing: 0.3px;
  box-sizing: border-box;
  color: $white-color;
  background-color: $dark-theme-color;
  margin: 0;
  padding: 0;
  height: 100%;
}

.view-port-limit {
  max-width: 1500px;
  margin: auto;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
  // padding-bottom: 220px;
  box-sizing: border-box;
}

.wrapper {
  max-width: 500px;
}

.common-wrapper {
  padding: 15px 20px;
}

select {
  font-size: 14px;
  color: $theme-color;
  padding: 8px 10px;
  background-color: unset;
  border: 1px solid $theme-color;
  border-radius: 4px;
}

.color-danger {
  color: #ff3e31;
}

.btn-small {
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  color: $theme-color;
  background: unset;
  padding: 5px 5px;
  height: 26px;
  min-width: 80px;
  border: 1px solid $theme-color;
}

.no-padding,
.p-0 {
  padding: 0 !important;
  min-width: unset;
}

.no-border {
  border: 0;
}

h1,
h2,
p {
  margin: 0 0 10px;
}

h1,
h2,
h3 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style-type: none;
  }
}

a {
  all: unset;
  cursor: pointer;
  text-transform: capitalize;
}

.d-flex {
  display: flex;
}

.d-center {
  align-items: center;
}

.gap-15 {
  gap: 15px;
}

.gap-10 {
  gap: 10px;
}

.gap-5 {
  gap: 5px;
}

.mx-500 {
  max-width: 500px;
}

.mt-30 {
  margin: 30px 0 0;
}

.box-center {
  align-items: center;
  justify-content: center;
}

.form-field {
  margin: 0 0 20px;
}

.error-message {
  font-size: 0.75rem;
  font-weight: 500;
  margin: 10px 0 0;
  color: $error-color;
}

.danger {
  color: $error-color;
}

@media (max-width: 768px) {
  main {
    padding-bottom: 0;
  }
}
